//colors
$baseColor: #B0E0E6;
$buttonColor: #A0522D;
$buttonColorActive: #FF0000;
$buttonColorHover: #800000;

//resolutions
$desktop: 1280px;
$laptop: 980px;
$tablet: 768px;
$smartphone: 480px;
$phone: 320px;

//measures
$borderRadius: 3px;
$animationDuration: 2s;
$animationStopDuration: 1s;